body {
    background-color: rgb(223, 0, 156);
    color: rgb(167, 232, 243);
}

h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    color: aquamarine;
}