body {
    background-color: rgb(59, 0, 223);
    color: rgb(167, 232, 243);
}

header {
    border: solid 2px rgb(12, 56, 253);
    font-size: 32px;
    padding: 10px;
    color: aqua;
}
   
section{
    background-color: rgb(196, 56, 56);;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
 }

.chamada-texto{
    margin-right: 5%;
}

h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    color: aquamarine;
}